.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    background:#E47411;
  }
  .cube{
      position: absolute;
      width: 200px;
      height: 200px;
      left: 103px;      
      transform: preserve-3d;
      transition: all 1s ease-in-out;
      cursor: pointer;
  }
  .cube:hover {

    transform:rotateX(-10deg) rotateY(-20deg) rotateZ(400deg) translateZ(-50px) translateX(10px);

  }
  .side{
    position: absolute;
    width: 200px;
    height: 200px;
    top: -80px;
    left:0;
    transform-style: preserve-3d;
    transform: rotateX(70deg) rotateZ(-45deg) translateZ(-100px);
    transition: all 1s ease-in-out;
    cursor: pointer;
  }
  .front{
    background: #fff;
    transform-origin: bottom;
    transform: rotateX(70deg) rotateZ(45deg) rotateY(90deg) translateZ(50px) translateX(119px) translateY(51px);
}
.back{
    background: #ccc;
    transform-origin: bottom;
    transform: rotateX(70deg) rotateZ(45deg) rotateY(90deg) translateZ(150px) translateX(-34px) translateY(350px);
}
.right{
    background: #ddd;
    transform-origin: right bottom;
    transform: rotateX(70deg) rotateZ(-45deg) rotateY(90deg) translateZ(100px) translateX(230px) translateY(-45px);
}
.left{
    background: rgb(247, 247, 247);
    transform-origin: right bottom;
    transform: rotateX(70deg) rotateZ(-45deg) rotateY(90deg) translateZ(-100px) translateX(229px) translateY(-41px);
}
.top{
    background: #eee;
} 

.bottom{
    transform: rotateX(70deg) rotateZ(-45deg) translateZ(-200px) translateX(-195px) translateY(195px);
    background: rgb(218, 216, 216);
} 




