.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    background:#2C3E4F;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}
.ikosadron{
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-40deg);
    transition: all 3s ease-in-out;
    height: 280px;
    width: 160px;
    cursor: pointer;
}
.ikosadron:hover{
    transform: rotateX(-400deg) rotateY(-400deg);
}
.side{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 138.56px 80px;
    border-color: transparent transparent #eee transparent;
    transform-origin: 50% 100%;
    transition: all 3s ease-in-out;
}
.ikosadron:hover .side{
    opacity: 0.5;
}
.side-1 {
    transform: translateZ(129.2px) rotateZ(90deg) rotateX(159.095deg);
}
.side-2 {
    transform: translateZ(129.2px) rotateZ(-90deg) rotateX(159.095deg);
    border-color: transparent transparent #e1e1e1 transparent;
}
.side-3 {
    transform: translateZ(-129.2px) rotateZ(90deg) rotateX(-159.095deg);
}
.side-4 {
    transform: translateZ(-129.2px) rotateZ(-90deg) rotateX(-159.095deg);
    border-color: transparent transparent #e1e1e1 transparent;
}
.side-5 {
    transform: rotateY(-90deg) translateZ(129.2px) rotateX(20.905deg);
}
.side-6 {
    transform: rotateY(-90deg) translateZ(129.2px) rotateX(159.095deg);
    border-color: transparent transparent #e1e1e1 transparent;
}
.side-7 {
    transform: rotateY(-90deg) translateZ(-129.2px) rotateX(-20.905deg);
}
.side-8 {
    transform: rotateY(-90deg) translateZ(-129.2px) rotateX(-159.095deg);
    border-color: transparent transparent #e1e1e1 transparent;
}
.side-9 {
    transform: translateY(129.2px) rotateX(69.095deg);
}
.side-10 {
    transform: translateY(129.2px) rotateX(-69.095deg);
    border-color: transparent transparent #e1e1e1 transparent;
}
.side-11 {
    transform: translateY(-129.2px) rotateX(110.905deg);
}
.side-12 {
    transform: translateY(-129.2px) rotateX(-110.905deg);
    border-color: transparent transparent #e1e1e1 transparent;
}
.side-13 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(-129.2px) translateX(80px) rotateX(-135deg) rotateY(-35.264deg) rotateZ(-8deg);
    border-color: #fff transparent transparent transparent;
}
.side-14 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(-129.2px) translateX(80px) rotateX(135deg) rotateY(35.264deg) rotateZ(-8deg);
    border-color: #fff transparent transparent transparent;
}
.side-15 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(-129.2px) translateX(-80px) rotateX(-135deg) rotateY(35.264deg) rotateZ(8deg);
    border-color: #fff transparent transparent transparent;
}
.side-16 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(-129.2px) translateX(-80px) rotateX(135deg) rotateY(-35.264deg) rotateZ(8deg);
    border-color: #fff transparent transparent transparent;
}
.side-17 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(129.2px) translateX(80px) rotateX(45deg) rotateY(-35.264deg) rotateZ(-8deg);
    border-color: #fff transparent transparent transparent;
}
.side-18 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(129.2px) translateX(80px) rotateX(-45deg) rotateY(35.264deg) rotateZ(-8deg);
    border-color: #fff transparent transparent transparent;
}
.side-19 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(129.2px) translateX(-80px) rotateX(45deg) rotateY(35.264deg) rotateZ(8deg);
    border-color: #fff transparent transparent transparent;
}
.side-20 {
    border-width: 138.56px 80px 0 80px;
    transform: translateY(129.2px) translateX(-80px) rotateX(-45deg) rotateY(-35.264deg) rotateZ(8deg);
    border-color: #fff transparent transparent transparent;
}