.frame {
    position: absolute;
    top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      margin-top: -200px;
      margin-left: -200px;
      border-radius: 2px;
      box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .photo{
      flex: 1 0 1;
      width: 130px;
      height:130px;
      margin: 1px;
      animation: small 0.5s ease-in-out both;
  }
  .active{
      position: relative;
      z-index: 2;
      animation: big .5s ease-in-out both;
  }
  image{
      width: 100%;
      height: auto;
  }
  #number0{
    transform-origin: top left;
  }
  #number1{
    transform-origin: top;
  }
  #number2{
    transform-origin: top right;
  }
  #number3{
    transform-origin: left;
  }
  #number5{
    transform-origin: right;
  }
  #number6{
    transform-origin: bottom left;
  }
  #number7{
    transform-origin: bottom;
  }
  #number8{
    transform-origin: bottom right;
  }



.away image{
    opacity: 0;
  }

  @keyframes small {
    0% {
		transform: scale(3.1);
		z-index: 2;
	}
    50%{
        transform: scale(1);
    }
	100% {
		z-index: 1;
	}
  }

  @keyframes big{
    0%,1% {
		transform: scale(1);

	}
	100% {
		z-index: 2;
		transform: scale(3.1);
	}
  }