.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    background: #404456;
  }
  #bulb{
      position: absolute;
      top:130px;
      left:165px;
      fill:  #FFF35C;
      z-index: 2;
      transition: all .5s ease-in-out;
      cursor: pointer;
  }
  #glow{
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 70px;
      background: #FFF35C;
      box-shadow: 0 0 50px 20px #FFF35C;
      top:140px;
      left:173px;
      transition: all .5s ease-in-out;
  }
  #bulb:hover{
      fill:#E5E5E5
  }
  #bulb:hover ~ #glow{
    opacity: 0;
  }

  #bottom{
      position: absolute;
      top: 230px;
      left :187px;
      fill: #E5E5E5;
  }